In [2]:
import pandas as pd
import numpy as np
import src.acquire as ac

In [29]:
df = ac.get_parsed_df()

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9332 entries, 0 to 9331
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   alert         59 non-null     object
 1   cdi           329 non-null    float64
 2   code          9332 non-null   object
 3   detail        9332 non-null   object
 4   dmin          6139 non-null   float64
 5   felt          329 non-null    float64
 6   gap           6164 non-null   float64
 7   ids           9332 non-null   object
 8   mag           9331 non-null   float64
 9   magType       9331 non-null   object
 10  mmi           93 non-null     float64
 11  net           9332 non-null   object
 12  nst           5364 non-null   float64
 13  place         9332 non-null   object
 14  rms           9332 non-null   float64
 15  sig           9332 non-null   int64
 16  sources       9332 non-null   object
 17  status        9332 non-null   object
 18  time          9332 non-null   int64
 19  title         9332 non-null   object
 20  tsunami       9332 non-null   int64
 21  type          9332 non-null   object
 22  types         9332 non-null   object
 23  tz            9331 non-null   float64
 24  updated       9332 non-null   int64
 25  url           9332 non-null   object
 26  parsed_place  9332 non-null   object
dtypes: float64(9), int64(4), object(14)
memory usage: 1.9+ MB

1. Find the 95th percentile of earthquake magnitude in Japan

In [12]:
jp = df[(df.place.str.contains('Japan')) & (df.magType == 'mb')]

In [17]:
jp.mag.quantile(0.95)

4.9

2. Find the percentage of earthquake in Indonesia that were coupled with tsunamis

In [22]:
indonesia = df[df.place.str.contains('Indonesia')]

In [24]:
round(indonesia.tsunami.sum() / len(indonesia) * 100, 2)

23.13

3. Get summary statistics for earthquakes in Nevada

In [30]:
df.place.str.contains('NV').sum()

4

In [31]:
df.place.str.contains('Nevada').sum()

677

In [34]:
df[df.place.str.contains('NV') | df.place.str.contains('Nevada')].describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

4. Add a column indicating whether or not the earthquake happen in a country or US state that is on the Ring of Fire

In [35]:
df.title

0                  M 1.4 - 9km NE of Aguanga, CA
1                  M 1.3 - 9km NE of Aguanga, CA
2                  M 3.4 - 8km NE of Aguanga, CA
3                  M 0.4 - 9km NE of Aguanga, CA
4                  M 2.2 - 10km NW of Avenal, CA
                          ...
9327        M 0.6 - 9km ENE of Mammoth Lakes, CA
9328                 M 1.0 - 3km W of Julian, CA
9329    M 2.4 - 35km NNE of Hatillo, Puerto Rico
9330               M 1.1 - 9km NE of Aguanga, CA
9331               M 0.7 - 9km NE of Aguanga, CA
Name: title, Length: 9332, dtype: object

In [36]:
df.place

0                  9km NE of Aguanga, CA
1                  9km NE of Aguanga, CA
2                  8km NE of Aguanga, CA
3                  9km NE of Aguanga, CA
4                  10km NW of Avenal, CA
                      ...
9327        9km ENE of Mammoth Lakes, CA
9328                 3km W of Julian, CA
9329    35km NNE of Hatillo, Puerto Rico
9330               9km NE of Aguanga, CA
9331               9km NE of Aguanga, CA
Name: place, Length: 9332, dtype: object

In [48]:
df.place.str.extract(r', (.*$)')[0].sort_values().unique()

array(['Afghanistan', 'Alaska', 'Argentina', 'Arizona', 'Arkansas',
       'Australia', 'Azerbaijan', 'B.C., MX', 'Barbuda', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba ', 'British Virgin Islands',
       'Burma', 'CA', 'California', 'Canada', 'Chile', 'China',
       'Christmas Island', 'Colombia', 'Colorado', 'Costa Rica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Ecuador region',
       'El Salvador', 'Fiji', 'Greece', 'Greenland', 'Guam', 'Guatemala',
       'Haiti', 'Hawaii', 'Honduras', 'Idaho', 'Illinois', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Italy', 'Jamaica', 'Japan', 'Kansas',
       'Kentucky', 'Kyrgyzstan', 'Martinique', 'Mauritius', 'Mayotte',
       'Mexico', 'Missouri', 'Montana', 'NV', 'Nevada', 'New Caledonia',
       'New Hampshire', 'New Mexico', 'New Zealand', 'Nicaragua',
       'North Carolina', 'Northern Mariana Islands', 'Oklahoma', 'Oregon',
       'Pakistan', 'Papua New Guinea', 'Peru', 'Philippines',
       'Puerto Rico', 'Romania', 'Russia', 'Saint Helena',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Carolina',
       'South Georgia and the South Sandwich Islands',
       'South Sandwich Islands', 'Taiwan', 'Tajikistan', 'Tennessee',
       'Texas', 'Tonga', 'Turkey', 'U.S. Virgin Islands', 'Utah',
       'Uzbekistan', 'Vanuatu', 'Vermont', 'Washington', 'Wyoming',
       'Yemen', nan], dtype=object)

In [116]:
df['state'] = df.place.str.replace(
    r'CA$', 'California', regex=True
).str.replace( 
    r'.* of ', '', regex=True # removes '* of ' f.e. South of Fiji Islands
).str.replace(
    'the ', '' # remove 'the '
).str.replace(
    'northern ', ''
).str.replace(
    r' region$', '', regex=True
).str.replace(
    'Fiji Islands', 'Fiji'
).str.replace(
    r'MX$', 'Mexico', regex=True
).str.replace(
    r'NV$', 'Nevada', regex=True
).str.replace(
    r'^.*, ', '', regex=True # every character in the beginning of the string before ', '  including ', '
).str.strip()

In [117]:
(df.parsed_place != df.state).sum()

0

In [118]:
# set options to display the entire dataframe only once
# look where I parced the sting incorrect
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    display(df[df.parsed_place != df.state].loc[:, ['title', 'place', 'parsed_place', 'state']])

Empty DataFrame
Columns: [title, place, parsed_place, state]
Index: []

In [119]:
# no more parsing errors

In [120]:
try:
    del df['parsed_place']
except KeyError:
    print('the column doesn\'t exist')

In [127]:
df.state.sort_values().unique()

array(['Afghanistan', 'Alaska', 'Argentina', 'Arizona', 'Arkansas',
       'Ascension Island', 'Australia', 'Azerbaijan', 'Balleny Islands',
       'Barbuda', 'Bolivia', 'British Virgin Islands', 'Burma',
       'California', 'Canada', 'Carlsberg Ridge',
       'Central East Pacific Rise', 'Central Mid-Atlantic Ridge', 'Chile',
       'China', 'Christmas Island', 'Colombia', 'Colorado', 'Costa Rica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'El Salvador',
       'Fiji', 'Greece', 'Greenland', 'Guam', 'Guatemala', 'Haiti',
       'Hawaii', 'Honduras', 'Idaho', 'Illinois', 'India',
       'Indian Ocean Triple Junction', 'Indonesia', 'Iran', 'Iraq',
       'Italy', 'Jamaica', 'Japan', 'Kansas', 'Kentucky',
       'Kermadec Islands', 'Kuril Islands', 'Kyrgyzstan', 'Martinique',
       'Mauritius', 'Mayotte', 'Mexico', 'Mid-Indian Ridge', 'Missouri',
       'Montana', 'Nevada', 'New Caledonia', 'New Hampshire',
       'New Mexico', 'New Zealand', 'Nicaragua', 'North Carolina',
       'Northern East Pacific Rise', 'Northern Mariana Islands',
       'Northern Mid-Atlantic Ridge', 'Oklahoma', 'Oregon',
       'Pacific-Antarctic Ridge', 'Pakistan', 'Papua New Guinea', 'Peru',
       'Philippines', 'Prince Edward Islands', 'Puerto Rico',
       'Queen Charlotte Islands', 'Romania', 'Russia',
       'Saint Eustatius and Saba', 'Saint Helena', 'Socotra',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Carolina',
       'South Georgia and South Sandwich Islands',
       'South Sandwich Islands', 'Southeast Indian Ridge',
       'Southern East Pacific Rise', 'Southern Mid-Atlantic Ridge',
       'Southwest Indian Ridge', 'Sumatra', 'Taiwan', 'Tajikistan',
       'Tennessee', 'Texas', 'Tonga', 'Turkey', 'U.S. Virgin Islands',
       'Utah', 'Uzbekistan', 'Vanuatu', 'Vermont', 'Washington',
       'Western Indian-Antarctic Ridge', 'Western Xizang', 'Wyoming',
       'Yemen'], dtype=object)

In [124]:
with pd.option_context('display.max_rows', None):
    display(df.state.value_counts().sort_index())

Afghanistan                                    6
Alaska                                      3665
Argentina                                     11
Arizona                                        2
Arkansas                                       3
Ascension Island                               2
Australia                                      1
Azerbaijan                                     2
Balleny Islands                                1
Barbuda                                        1
Bolivia                                        4
British Virgin Islands                        21
Burma                                          2
California                                  2861
Canada                                        55
Carlsberg Ridge                                2
Central East Pacific Rise                      1
Central Mid-Atlantic Ridge                     1
Chile                                         31
China                                          8
Christmas Island                               1
Colombia                                       8
Colorado                                       1
Costa Rica                                     1
Dominican Republic                            57
East Timor                                     3
Ecuador                                        3
El Salvador                                    2
Fiji                                          61
Greece                                         8
Greenland                                      1
Guam                                           3
Guatemala                                      2
Haiti                                          3
Hawaii                                       367
Honduras                                       1
Idaho                                         71
Illinois                                       1
India                                          2
Indian Ocean Triple Junction                  16
Indonesia                                    147
Iran                                          16
Iraq                                           1
Italy                                          3
Jamaica                                        1
Japan                                         57
Kansas                                        23
Kentucky                                       2
Kermadec Islands                               2
Kuril Islands                                  4
Kyrgyzstan                                     1
Martinique                                     1
Mauritius                                      1
Mayotte                                        2
Mexico                                        38
Mid-Indian Ridge                               2
Missouri                                      11
Montana                                      204
Nevada                                       681
New Caledonia                                  9
New Hampshire                                  1
New Mexico                                     1
New Zealand                                   13
Nicaragua                                      4
North Carolina                                 1
Northern East Pacific Rise                     2
Northern Mariana Islands                       4
Northern Mid-Atlantic Ridge                    2
Oklahoma                                      37
Oregon                                        27
Pacific-Antarctic Ridge                        3
Pakistan                                       2
Papua New Guinea                              34
Peru                                          14
Philippines                                   21
Prince Edward Islands                          1
Puerto Rico                                  216
Queen Charlotte Islands                        1
Romania                                        1
Russia                                        33
Saint Eustatius and Saba                       1
Saint Helena                                   3
Socotra                                        1
Solomon Islands                                9
Somalia                                        1
South Africa                                   2
South Carolina                                 1
South Georgia and South Sandwich Islands       5
South Sandwich Islands                         6
Southeast Indian Ridge                         1
Southern East Pacific Rise                     2
Southern Mid-Atlantic Ridge                    3
Southwest Indian Ridge                         5
Sumatra                                        1
Taiwan                                         2
Tajikistan                                     4
Tennessee                                     30
Texas                                          1
Tonga                                         17
Turkey                                         2
U.S. Virgin Islands                           31
Utah                                          67
Uzbekistan                                     1
Vanuatu                                       17
Vermont                                        1
Washington                                   157
Western Indian-Antarctic Ridge                 1
Western Xizang                                 1
Wyoming                                       42
Yemen                                          1
Name: state, dtype: int64

In [131]:
df[df.state.str.contains('Antarctic')].state.unique()

array(['Pacific-Antarctic Ridge', 'Western Indian-Antarctic Ridge'],
      dtype=object)

In [134]:
# creat a list that holds all names of areas of Ring of Fire
rf = ['Bolivia', 'Chile', 'Ecuador', 'Peru', 'Costa Rica', 'Guatemala',
           'Mexico', 'Japan', 'Philippines', 'Indonesia', 'New Zealand', 'Pacific-Antarctic Ridge', 'Western Indian-Antarctic Ridge', 
           'Canada', 'Fiji', 'Alaska', 'Washington', 'California', 'Russia', 'Taiwan', 'Tonga', 'Kermandic']

In [135]:
df['is_rf'] = df.state.isin(rf)

In [138]:
# check if New Mexico accidentially is True
df[df.state == 'New Mexico'].is_rf == True

9016    False
Name: is_rf, dtype: bool

5. Calculate the number of earthquakes in the Ring of Fire locations and the number outside them

In [140]:
# in the ring of fire
df.is_rf.sum()

7186

In [142]:
# not in the ring of fire
(~df.is_rf).sum()

2146

In [144]:
# check if the sums are equal to the total number of the earthquakes
df.is_rf.sum() + (~df.is_rf).sum() == len(df)

True

6. Count the tsunami count along the Ring of Fire

In [146]:
len(df[df.is_rf])

7186

In [147]:
df[df.is_rf].tsunami.sum()

45