In [1]:
import pandas as pd 
import numpy as np

In [2]:
fb = pd.read_csv('../datasets/fb.csv', index_col='date', parse_dates=True)
fb = fb.assign(
    trading_volume = lambda x: pd.cut(
        x.volume, bins = 3, labels = ['low', 'med', 'high']
    )
)

In [3]:
fb.head(3)

,high,low,open,close,volume,trading_volume
date,,,,,,
2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,low
2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600,low
2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900,low

In [4]:
# slice dates
fb['2018-10-11':'2018-10-15']

,high,low,open,close,volume,trading_volume
date,,,,,,
2018-10-11,154.809998,149.160004,150.130005,153.350006,35338900,low
2018-10-12,156.889999,151.300003,156.729996,153.740005,25293500,low
2018-10-15,155.570007,152.550003,153.320007,153.520004,15433500,low

In [5]:
fb.loc['2018-10-11':'2018-10-15'] # same as above

,high,low,open,close,volume,trading_volume
date,,,,,,
2018-10-11,154.809998,149.160004,150.130005,153.350006,35338900,low
2018-10-12,156.889999,151.300003,156.729996,153.740005,25293500,low
2018-10-15,155.570007,152.550003,153.320007,153.520004,15433500,low

In [6]:
fb.loc['2018-10-11'] # series

high              154.809998
low               149.160004
open              150.130005
close             153.350006
volume              35338900
trading_volume           low
Name: 2018-10-11 00:00:00, dtype: object

In [8]:
fb['2018-10-11'] # error

In [10]:
# other slicing options
fb.loc['2018-q1'].tail(2)

,high,low,open,close,volume,trading_volume
date,,,,,,
2018-03-28,155.880005,150.800003,151.649994,153.029999,60029200,low
2018-03-29,161.419998,154.139999,155.149994,159.789993,59434300,low

`first` and `last` to slice the date

In [15]:
fb.first('1M').head(2) # first month of data set

,high,low,open,close,volume,trading_volume
date,,,,,,
2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,low
2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600,low

In [16]:
fb.loc['2018-03'].last('1W') # last week of data

,high,low,open,close,volume,trading_volume
date,,,,,,
2018-03-26,161.100006,149.020004,160.820007,160.059998,126116600,high
2018-03-27,162.850006,150.750000,156.309998,152.220001,79117000,med
2018-03-28,155.880005,150.800003,151.649994,153.029999,60029200,low
2018-03-29,161.419998,154.139999,155.149994,159.789993,59434300,low

`first` and `last` with `groupby` and __aggregation__

In [18]:
fb.groupby(pd.Grouper(freq='1M')).agg({
    'open': 'first', # first open of the month
    'high':'max',
    'low':'min',
    'close':'last' # last close of the month
})

                  open        high         low       close
date
2018-01-31  177.679993  190.660004  175.800003  186.889999
2018-02-28  188.220001  195.320007  167.179993  178.320007
2018-03-31  179.009995  186.100006  149.020004  159.789993
2018-04-30  157.809998  177.100006  150.509995  172.000000
2018-05-31  172.000000  192.720001  170.229996  191.779999
2018-06-30  193.070007  203.550003  186.429993  194.320007
2018-07-31  193.369995  218.619995  166.559998  172.580002
2018-08-31  173.929993  188.300003  170.270004  175.729996
2018-09-30  173.500000  173.889999  158.869995  164.460007
2018-10-31  163.029999  165.880005  139.029999  151.789993
2018-11-30  151.520004  154.130005  126.849998  140.610001
2018-12-31  143.000000  147.190002  123.019997  131.089996

[Parsing dates Python documentation](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior)

Example:
`pd.to_datetime(df, foramat='%Y-%m-%d %H-%M')`