In [1]:
import pandas as pd 
import numpy as np

In [2]:
fb = pd.read_csv('../datasets/fb.csv', index_col='date', parse_dates=True)
fb = fb.assign(
    trading_volume = lambda x: pd.cut(
        x.volume, bins = 3, labels = ['low', 'med', 'high']
    )
)

In [3]:
fb.head(3)

,high,low,open,close,volume,trading_volume
date,,,,,,
2018-01-02,181.580002,177.550003,177.679993,181.419998,18151900,low
2018-01-03,184.779999,181.330002,181.880005,184.669998,16886600,low
2018-01-04,186.210007,184.100006,184.899994,184.330002,13880900,low

In [4]:
# slice dates
fb['2018-10-11':'2018-10-15']

,high,low,open,close,volume,trading_volume
date,,,,,,
2018-10-11,154.809998,149.160004,150.130005,153.350006,35338900,low
2018-10-12,156.889999,151.300003,156.729996,153.740005,25293500,low
2018-10-15,155.570007,152.550003,153.320007,153.520004,15433500,low

In [5]:
fb.loc['2018-10-11':'2018-10-15'] # same as above

,high,low,open,close,volume,trading_volume
date,,,,,,
2018-10-11,154.809998,149.160004,150.130005,153.350006,35338900,low
2018-10-12,156.889999,151.300003,156.729996,153.740005,25293500,low
2018-10-15,155.570007,152.550003,153.320007,153.520004,15433500,low

In [6]:
fb.loc['2018-10-11'] # series

high              154.809998
low               149.160004
open              150.130005
close             153.350006
volume              35338900
trading_volume           low
Name: 2018-10-11 00:00:00, dtype: object

In [8]:
fb['2018-10-11'] # error